.CourseSection {
  .title{
    margin: 2rem;
    text-align: center;
    
  }
  .card-title{
    color:#db8026;
  }
  a{
    color: grey;
  }
  .card{
    margin-bottom: 2rem;
  }
  .badge{
    float: right;
  }
  #divider{
    margin-top: .5rem;
  }

}
