#auth-section {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
}

.connect-card {
  padding: 1em;

  -webkit-box-shadow: 0px 10px 20px -7px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 0px 10px 20px -7px rgba(0, 0, 0, 0.21);
  box-shadow: 0px 10px 20px -7px rgba(0, 0, 0, 0.21);
}
