.Button {
    width: 100%;
    max-width: max-content;
    display: block;
    margin: auto;
    text-align: center;
    input{
        block-size: 200px;
        text-align: center;
        font-size: 20px;
    }
}
