.Button {
    width: 100%;
    max-width: max-content;
    display: block;
    margin: auto;
    text-align: center;
    
    input{
        height: auto;
        text-align: center;
        font-size: 20px;
        background-color: #32A4D6;
        color: white;
        border-radius: 8px;
    }
}
